<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>
	<connectionStrings>
		<add name="DBCS"
			 connectionString="data source=;database=Shopping;integrated security=SSPI"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<authorization>
			<allow users="*"/>
		</authorization>
	</system.web>
</configuration>
